aws_region           = "us-east-1"
environment          = "staging"
project_name         = "nestjs-ecommerce"
vpc_cidr             = "10.40.0.0/16"
enable_nat_gateway   = false
container_port       = 3000
desired_count        = 1
cpu                  = 512
memory               = 1024
db_name              = "ecommercedb"
db_username          = "ecommerce_app"
db_instance_class    = "db.t3.micro"
db_allocated_storage = 20
backup_retention_days = 7
image_tag            = "latest"
cors_origin          = ""
acm_certificate_arn  = ""
log_retention_days   = 90
